<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jbp.service.dao.ProductDao">

    <select id="getPlatformPageList" resultType="com.jbp.common.response.PlatformProductListResponse" parameterType="Map">
        SELECT p.id,p.image,p.name as name,p.keyword,p.category_id as categoryId,p.price,p.sales,p.stock,p.ficti,
        p.audit_status as auditStatus,p.reason,p.rank,m.name as merchantName,m.is_self as isSelf,p.rank, p.is_show as
        isShow,p.buy_limit_temp_id as buyLimitTempId,p.show_limit_temp_id as showLimitTempId
        FROM eb_product AS p
        LEFT join eb_merchant AS m on p.mer_id = m.id
        where 1=1
        <choose>
            <when test='type == "1"'>
                and p.is_show = 1
                and p.audit_status in (0,2)
                and p.is_recycle=0
            </when>
            <when test='type == "2"'>
                and p.is_show = 0
                and p.is_audit = 0
                and p.audit_status in (0,1,2)
                and p.is_recycle=0
            </when>
            <when test='type == "3"'>
                and p.stock=0
                and p.is_recycle=0
                and p.is_del=0
                and p.audit_status in (0,2)
            </when>
            <when test='type == "4"'>
                and p.stock = 0
                and p.is_recycle=0
                and p.is_del=0
                and p.audit_status in (0,2)
            </when>
            <when test='type == "5"'>
                and p.is_recycle=1
                and p.is_del=0
            </when>
            <when test='type == "6"'>
                and p.audit_status = 1
                and p.is_audit = 1
            </when>
            <when test='type == "7"'>
                and p.audit_status = 3
                and p.is_audit = 0
            </when>
        </choose>
        <if test="merId != null and merId !='' ">
            and p.mer_id = #{merId}
        </if>
        <if test="self != null">
            and m.is_self = #{self}
        </if>
        <if test="categoryIds != null and categoryIds !='' ">
            and find_in_set(p.category_id, #{categoryIds, jdbcType=VARCHAR})
        </if>
        <if test="keywords != null and keywords !='' ">
            and (p.name like CONCAT('%', #{keywords, jdbcType=VARCHAR}, '%')
            or p.keyword like CONCAT('%', #{keywords, jdbcType=VARCHAR}, '%'))
        </if>
        ORDER BY p.rank desc, p.id desc
    </select>

    <select id="findH5List" resultType="com.jbp.common.response.ProductFrontResponse" parameterType="Map">
        SELECT p.id,p.image,p.name as name,p.price,p.ot_price as otPrice,p.price,p.sales,p.stock,p.ficti,
        p.unit_name as unitName,p.reason,p.mer_id as merId,m.name as merName,m.category_id as merCategoryId,m.type_id as merTypeId, p.category_id,
        p.brand_id
        FROM eb_product AS p
        right join eb_merchant AS m on p.mer_id = m.id
        left join eb_product_profit  as r on r.product_id = p.id and type = 1
        where p.is_del = 0 and p.is_recycle = 0 and p.is_show = 1
        and p.audit_status in (0,2)
        <if test="id != null">
            and find_in_set(p.id, #{id})
        </if>
        <if test="categoryId != null">
            and find_in_set(p.category_id, #{categoryId})
        </if>
        <if test="brandId != null">
            and find_in_set(p.brand_id, #{brandId})
        </if>

        <if test="minPrice != null">
            and p.price &gt;= #{minPrice}
        </if>
        <if test="maxPrice != null">
            and p.price &lt;= #{maxPrice}
        </if>
        <if test="riseCapaId != null">
             and (json_extract(r.rule, '$.capaId') = ${riseCapaId}  or  r.rule is null)
        </if>
        <if test="keywords != null and keywords !='' ">
            and (p.name like CONCAT('%', #{keywords, jdbcType=VARCHAR}, '%')
            or p.keyword like CONCAT('%', #{keywords, jdbcType=VARCHAR}, '%'))
        </if>
        <if test="isSelf != null">
            and m.is_self = #{isSelf}
        </if>
        <if test="merId != null">
            and find_in_set(p.mer_id, #{merId})
        </if>
        <if test="showLimitTempIds != null and showLimitTempIds !=''">
            and (p.show_limit_temp_id is null or find_in_set(p.show_limit_temp_id, #{showLimitTempIds}))
        </if>
        ${lastStr}
    </select>

    <select id="getActivitySearchPage" resultType="com.jbp.common.response.ProductActivityResponse" parameterType="Map">
        SELECT p.id,p.image,p.name,p.price,p.stock,p.is_show as isShow,p.spec_type as specType,
        m.name as merName,m.star_level as merStarLevel,p.brand_id as brandId,
        pc.name as categoryName, p.category_id as categoryId,
        p.sales,p.ficti,p.unit_name as unitName
        FROM eb_product AS p
        left join eb_merchant AS m on p.mer_id = m.id
        left join eb_product_category AS pc on p.category_id = pc.id
        where p.is_del = 0 and p.is_recycle = 0
        and p.audit_status in (0,2)
        <if test="categoryId != null and categoryId !='' ">
            and find_in_set(p.category_id, #{categoryId})
        </if>
        <if test="isShow != null">
            and p.is_show = #{isShow}
        </if>
        <if test="name != null and name !='' ">
            and p.name like CONCAT('%', #{name, jdbcType=VARCHAR}, '%')
        </if>
        <if test="merIds != null and merIds !='' ">
            and find_in_set(p.mer_id, #{merIds})
        </if>
        <if test="merStars != null">
            and m.star_level &gt;= #{merStars}
        </if>
        <if test="brandId != null and brandId !='' ">
            and find_in_set(p.brand_id, #{brandId})
        </if>
        ${lastStr}
    </select>

    <select id="getActivitySearchPageByMerchant" resultType="com.jbp.common.response.ProductActivityResponse" parameterType="Map">
        SELECT p.id,p.image,p.name,p.price,p.stock,p.is_show as isShow,p.spec_type as specType,
        m.name as merName,m.star_level as merStarLevel,
        pc.name as categoryName
        FROM eb_product AS p
        left join eb_merchant AS m on p.mer_id = m.id
        left join eb_product_category AS pc on p.category_id = pc.id
        where p.is_del = 0 and p.is_recycle = 0
        and p.audit_status in (0,2)
        <if test="categoryId != null">
            and p.category_id = #{categoryId}
        </if>
        <if test="cateId != null">
            and find_in_set(#{cateId}, p.cate_id)
        </if>
        <if test="isShow != null">
            and p.is_show = #{isShow}
        </if>
        <if test="name != null and name !='' ">
            and p.name like CONCAT('%', #{name, jdbcType=VARCHAR}, '%')
        </if>
        <if test="merId != null">
            and p.mer_id = #{merId}
        </if>
        <if test="productId != null">
            and p.id = #{productId}
        </if>
        <if test="proCateIds != null and proCateIds !='' ">
            and p.category_id in (SELECT id FROM `eb_product_category` where `level` = 3 and is_del = 0 and pid in (SELECT id FROM `eb_product_category` WHERE `level` = 2 and is_del = 0 and FIND_IN_SET(pid, #{proCateIds})))
        </if>
    </select>

    <select id="findProductBrandIdByKeyword" resultType="java.lang.Integer">
        select brand_id
        FROM eb_product
        where is_del = 0
          and is_recycle = 0
          and is_show = 1
          and audit_status in (0, 2)
          and (name like CONCAT('%', #{keyword, jdbcType=VARCHAR}, '%')
            or keyword like CONCAT('%', #{keyword, jdbcType=VARCHAR}, '%'))
    </select>

    <select id="findProductCategoryIdByKeyword" resultType="java.lang.Integer">
        select category_id
        FROM eb_product
        where is_del = 0
          and is_recycle = 0
          and is_show = 1
          and audit_status in (0, 2)
          and (name like CONCAT('%', #{keyword, jdbcType=VARCHAR}, '%')
            or keyword like CONCAT('%', #{keyword, jdbcType=VARCHAR}, '%'))
    </select>

    <!--List<AdminProductListResponse> selectList(@Param("id") Integer id, @Param("type") Integer type,@Param("keywords") String keywords,@Param("categoryId") Integer categoryId,@Param("cateId") String cateId);-->
    <resultMap id="AdminProductListResponse" type="com.jbp.common.response.AdminProductListResponse">
        <id column="id" property="id"/>
        <result column="image" property="image"/>
        <result column="name" property="name"/>
        <result column="keyword" property="keyword"/>
        <result column="cate_id" property="categoryId"/>
        <result column="category_id" property="categoryId"/>
        <result column="price" property="price"/>
        <result column="sort" property="sort"/>
        <result column="sales" property="sales"/>
        <result column="stock" property="stock"/>
        <result column="is_show" property="isShow"/>
        <result column="audit_status" property="auditStatus"/>
        <result column="is_audit" property="isAudit"/>
        <result column="ficti" property="ficti"/>
        <result column="reason" property="reason"/>
        <result column="buy_limit_temp_id" property="buyLimitTempId"/>
        <result column="show_limit_temp_id" property="showLimitTempId"/>
        <result column="pay_type" property="payType"/>
        <result column="deduction_list" property="deductionList" typeHandler="com.jbp.common.mybatis.ProductDeductionListHandler"/>
        <result column="bar_code" property="barCode"/>
        <result column="materials_code" property="materialsCode"/>
    </resultMap>
    <sql id="selectlist">
        select p.id,
               p.image,
               p.name,
               p.keyword,
               p.cate_id,
               p.category_id,
               p.price,
               p.sort,
               p.sales,
               p.stock,
               p.is_show,
               p.audit_status,
               p.is_audit,
               p.ficti,
               p.reason,
               p.buy_limit_temp_id,
               p.show_limit_temp_id,
               p.pay_type,
               p.deduction_list,
               m.bar_code,
               m.materials_code
        from eb_product as p
                 left join eb_product_attr_value as v on v.product_id = p.id
                 left join eb_product_materials as m on m.bar_code = v.bar_code

    </sql>
    <select id="selectList" resultMap="com.jbp.service.dao.agent.FundClearingDao.FundClearing">
        <include refid="selectlist"/>
        <where>

        </where>
    </select>
</mapper>
