<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jbp.service.dao.ProductRepertoryDao">
    <select id="getList" resultType="com.jbp.common.model.product.ProductRepertory">
        select *,p.name as product_name,v.bar_code,u.nickname,u.account,t.name as team_name
        from eb_product_repertory r
        left join eb_product p on r.product_id = p.id
        left join eb_product_attr_value v on r.product_id = v.product_id
        left join eb_user u on r.uid = u.id
        left join eb_team_user tu on r.uid = tu.uid
        left join eb_team t on tu.tid = t.id
        <where>
            <if test="uid !=null and uid!=''">
                and r.uid=#{uid}
            </if>
            <if test="nickname !=null and nickname!=''">
                and u.nickname like CONCAT('%',#{nickname},'%')
            </if>
            <if test="productNameOrCode !=null and productNameOrCode!=''">
                and p.name like CONCAT('%',#{productNameOrCode},'%') or v.bar_code like CONCAT('%',#{productNameOrCode},'%')
            </if>
        </where>
        order by r.id desc
    </select>

</mapper>
