<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jbp.service.dao.TankEquipmentNumberDao">


    <select id="getAdminPageList" resultType="com.jbp.common.response.EquipmentNumberAdminListResponse">

        	select  u.id ,u.nickName, t.number from eb_tank_equipment_number t
		left join eb_user u on u.id = t.store_user_id
		where 1=1
        <if test="username != null and username !=''">
            AND  ( u.nickName =  #{username} or u.id =  #{username} )
        </if>

    </select>
</mapper>
