<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jbp.service.dao.TankStoreClerkRelationDao">
    <select id="getClerkList" resultType="com.jbp.common.response.TankStoreClerkManagerListResponse">

        	select  u.nickName,u.phone,ts.`name`,t.clerk_user_id from eb_tank_store_clerk_relation t
		left join eb_user u on u.id = t.clerk_user_id
		left join eb_tank_store ts on ts.id = t.store_id
		where t.store_user_id = #{userId}


    </select>
    <select id="getAdminPageList" resultType="com.jbp.common.response.TankStoreClerkAdminListResponse">

		select tc.id,t.name,t.user_id, u.nickName , cu.nickName as cusername ,cu.phone as cmobile ,tc.created_time from eb_tank_store t
		left join eb_user u on u.id = t.user_id
		left join eb_tank_store_clerk_relation tc on tc.store_userId = t.user_id and tc.store_id = t.id
		left join eb_user cu on cu.id = tc.clerk_user_id
		where 1=1

		<if test="username != null and username !=''">
			AND  ( u.nickName =  #{username} or u.id =  #{username} )
		</if>
		<if test="name != null and name !=''">
			AND  t.name = #{name}
		</if>

		order by tc.created_time desc

	</select>
</mapper>
