<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jbp.service.dao.TankStoreClerkRelationDao">
    <select id="getClerkList" resultType="com.jbp.common.response.TankStoreClerkManagerListResponse">

        	select  u.username,u.mobile,ts.`name`,t.clerkUserId from tankstoreclerkrelation t
		left join user u on u.id = t.clerkUserId
		left join tankstore ts on ts.id = t.storeId
		where t.storeUserId = #{userId}


    </select>
</mapper>
