<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jbp.service.dao.TankEquipmentDao">


    <select id="getPageList" resultType="com.jbp.common.response.EquipmentListResponse">


      	select t.equipmentSn,t.imei,ts.`name`,t.activateStatus,t.onlineStatus,t.useStatus,ifnull(t.prohibitStatus,0) as prohibitStatus , t.`status` from tankequipment t
		left join tankstore ts on ts.id = t.storeId
		where ts.userId =  #{userId}
        <if test="type != null and type !=''">
         <if test="type == 使用中">
            and status = 0 and activateStatus = 1 and onlineStatus = 1 and useStatus = 1
         </if>
            <if test="type == 在线未用">
                and status = 0 and activateStatus = 0 and onlineStatus = 1 and useStatus = 1
            </if>

            <if test="type == 离线">
                and  onlineStatus = 0
            </if>

        </if>



    </select>
    <select id="getInfo" resultType="java.util.Map">
        select ts.name,t.equipmentSn,t.id ,t.imei ,ts.nest ,t.prohibitStatus from tankequipment t
		left join tankstore ts on ts.id = t.storeId
		where t.equipmentSn =  #{equipmentSn}

    </select>
    <select id="equipmentNumber" resultType="java.lang.Integer">
        	select  count(1) from  tankequipment t
		where t.storeUserId =   #{userId}
    </select>
    <select id="equipmentUseNumber" resultType="java.lang.Integer">
        	select  count(1) from  tankequipment t
		where t.storeUserId =   #{userId}	and status = 0 and activateStatus = 1 and onlineStatus = 1 and useStatus = 1
    </select>
    <select id="equipmentOnlineUnusedNumber" resultType="java.lang.Integer">
        		select  count(1) from  tankequipment t
		where t.storeUserId =   #{userId}  and status = 0 and activateStatus = 0 and onlineStatus = 1 and useStatus = 1
    </select>
    <select id="equipmentOfflinedNumber" resultType="java.lang.Integer">
        	select  count(1) from  tankequipment t
		where t.storeUserId =  #{userId}  and onlineStatus = 0
    </select>
    <select id="getAdminPageList" resultType="com.jbp.common.response.EquipmentAdminListResponse">

        SELECT
		t.equipmentSn,
		t.orderbondactivateId,
		ta.tankUserId AS userId,
		u.username,
		t.storeUserId,
		u2.username AS storeusername,
		s.NAME AS storename,
		t.NAME AS quipmentname,
		t.imei,
		t.createdTime,
		t.type,
		t.`status`,
		t.activateStatus,
		t.onlineStatus,
		t.useStatus,
		t.prohibitStatus,
		t.id
		FROM
		tankequipment t
		LEFT JOIN orderbondactivate o ON o.id = t.orderbondactivateId
		LEFT JOIN USER u2 ON u2.id = t.storeUserId
		LEFT JOIN tankstore s ON s.id = t.storeId
		LEFT JOIN tankstorerelation ta ON ta.storeUserId = s.userId
		LEFT JOIN USER u ON u.id = ta.tankUserId
		WHERE
		1 = 1

        <if test="username != null and username !=''">
            AND  ( u.username =  #{username} or u.id =  #{username} )
        </if>


        <if test="name != null and name !=''">
            AND s.name =   #{name}
        </if>

		order by t.createdTime desc

    </select>
</mapper>
