<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jbp.service.dao.TankStoreDao">
    <select id="getStoreList" resultType="com.jbp.common.response.TankStoreListResponse">
        	select  u.username ,u.mobile ,t.name from tankstore t
		left join user u on u.id = t.userId
		where t.userId = #{storeUserId}
    </select>
    <select id="getStoreManageList" resultType="com.jbp.common.response.TankStoreManageListResponse">

        select t.`name`,count(tq.id) as enumber,count(ta.id) as number ,t.address ,t.id from tankstore t
		left join tankequipment tq on tq.storeId = t.id
		left join tankactivate ta on ta.equipmentId = tq.id
		where t.userId =#{userId}
		group by t.id

    </select>
    <select id="getAdminPageList" resultType="com.jbp.common.response.TankStoreAdminListResponse">
		select t.* , u.username from tankstore t
		left join user u on u.id = t.userId
		where 1=1

		<if test="username != null and username !=''">
			AND  ( u.username =  #{username} or u.id =  #{username} )
		</if>
		<if test="name != null and name !=''">
			AND  t.name = #{name}
		</if>


		order by t.createdTime desc


	</select>
</mapper>
