<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jbp.service.dao.TankEquipmentDao">


    <select id="getPageList" resultType="com.jbp.common.response.EquipmentListResponse">


      	select t.equipmentSn,t.imei,ts.`name`,t.activateStatus,t.onlineStatus,t.useStatus,ifnull(t.prohibitStatus,0) as prohibitStatus , t.`status` from tankequipment t
		left join tankstore ts on ts.id = t.storeId
		where ts.userId =  #{userId}
        <if test="type != null and type !=''">
         <if test="type == 使用中">
            and status = 0 and activateStatus = 1 and onlineStatus = 1 and useStatus = 1
         </if>
            <if test="type == 在线未用">
                and status = 0 and activateStatus = 0 and onlineStatus = 1 and useStatus = 1
            </if>

            <if test="type == 离线">
                and  onlineStatus = 0
            </if>

        </if>



    </select>
    <select id="getInfo" resultType="java.util.Map">
        select ts.name,t.equipmentSn,t.id ,t.imei ,ts.nest ,t.prohibitStatus from tankequipment t
		left join tankstore ts on ts.id = t.storeId
		where t.equipmentSn =  #{equipmentSn}

    </select>
    <select id="equipmentNumber" resultType="java.lang.Integer">
        	select  count(1) from  tankequipment t
		where t.storeUserId =   #{userId}
    </select>
    <select id="equipmentUseNumber" resultType="java.lang.Integer">
        	select  count(1) from  tankequipment t
		where t.storeUserId =   #{userId}	and status = 0 and activateStatus = 1 and onlineStatus = 1 and useStatus = 1
    </select>
    <select id="equipmentOnlineUnusedNumber" resultType="java.lang.Integer">
        		select  count(1) from  tankequipment t
		where t.storeUserId =   #{userId}  and status = 0 and activateStatus = 0 and onlineStatus = 1 and useStatus = 1
    </select>
    <select id="equipmentOfflinedNumber" resultType="java.lang.Integer">
        	select  count(1) from  tankequipment t
		where t.storeUserId =  #{userId}  and onlineStatus = 0
    </select>
</mapper>
