<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jbp.service.dao.TankStoreDao">
    <select id="getStoreList" resultType="com.jbp.common.response.TankStoreListResponse">
        	select  u.nickName ,u.phone ,t.name from eb_tank_store t
		left join eb_user u on u.id = t.user_Id
		where t.user_id = #{storeUserId}
    </select>
    <select id="getStoreManageList" resultType="com.jbp.common.response.TankStoreManageListResponse">

        select t.`name`,count(tq.id) as enumber,count(ta.id) as number ,t.address ,t.id from eb_tank_store t
		left join eb_tank_equipment tq on tq.store_id = t.id
		left join eb_tank_activate ta on ta.equipment_id = tq.id
		where t.user_id =#{userId}
		group by t.id

    </select>
    <select id="getAdminPageList" resultType="com.jbp.common.response.TankStoreAdminListResponse">
		select t.* , u.nickName from eb_tank_store t
		left join eb_user u on u.id = t.user_id
		where 1=1

		<if test="username != null and username !=''">
			AND  ( u.nickName =  #{username} or u.id =  #{username} )
		</if>
		<if test="name != null and name !=''">
			AND  t.name = #{name}
		</if>


		order by t.created_time desc


	</select>
</mapper>
