<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jbp.service.dao.TankEquipmentNumberInfoDao">

    <select id="getAdminPageList" resultType="com.jbp.common.response.EquipmentNumberInfoAdminListResponse">
        select u.id ,u.nickName,t.type,t.number,ta.operation_sn,t.created_time,t.remark from eb_tank_equipment_number_info t
		left join eb_user u on u.id = t.store_user_id
		left join eb_tank_activate ta on ta.id = t.activate_id
		where 1=1 and t.store_user_id = #{id}
		order by t.created_time desc
    </select>
</mapper>
