<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jbp.service.dao.agent.ActivityScoreGoodsDao">

    <select id="getProductNumber" resultType="java.lang.Integer">



      select sum(counts) from(
        select d.product_id,g.goods_count *d.pay_num  as counts from eb_order o
        left join eb_order_detail d on o.order_no = d.order_no
        left join eb_activity_score_goods g on g.activity_score_goods_id = d.product_id

        where o.paid = 1 and o.is_del = 0 and o.refund_status = 0 and d.product_id in (#{productId}) and o.uid in (#{uid})
         and o.pay_time >= #{startTime}
        and o.pay_time <![CDATA[ <= #{endTime} ]]>
        and g.activity_score_id = #{activityId}
        ) as a
    </select>

    <select id="getList" resultType="com.jbp.common.model.agent.ActivityScoreGoods">
        select *,p.name as product_name,p.image,p.price,p.stock
        from eb_activity_score_goods g
        left join eb_product p on p.id=g.activity_score_goods_id
        <where>
            <if test="activityScoreId!= null and activityScoreId !=''">
                and g.activity_score_id = #{activityScoreId}
            </if>
        </where>
        order by g.id desc
    </select>
</mapper>
