<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jbp.service.dao.agent.FundClearingDao">
    <resultMap id="FundClearing" type="com.jbp.common.model.agent.FundClearing">
        <id column="id" property="id"/>
        <result column="uid" property="uid"/>
        <result column="unique_no" property="uniqueNo"/>
        <result column="external_no" property="externalNo"/>
        <result column="comm_name" property="commName"/>
        <result column="comm_amt" property="commAmt"/>
        <result column="send_amt" property="sendAmt"/>
        <result column="user_info" property="userInfo" typeHandler="com.baomidou.mybatisplus.extension.handlers.JacksonTypeHandler"/>
        <result column="items" property="items" typeHandler="com.jbp.common.mybatis.FundClearingItemListHandler"/>
        <result column="product_list" property="productList" typeHandler="com.jbp.common.mybatis.FundClearingProductListHandler"/>
        <result column="description" property="description"/>
        <result column="clearing_time" property="clearingTime"/>
        <result column="status" property="status"/>
        <result column="remark" property="remark"/>
        <result column="create_time" property="createTime"/>
        <result column="account" property="account"/>
        <result column="nickname" property="nickName"/>
        <result column="name" property="teamName"/>
    </resultMap>


    <!--    <resultMap id="listFundClearingItem" type="com.jbp.common.model.agent.FundClearingItem">-->
    <!--        -->
    <!--    </resultMap>-->
    <sql id="selectFundClearingVo">
        SELECT c.id,
               c.uid,
               c.unique_no,
               c.external_no,
               c.comm_name,
               c.comm_amt,
               c.send_amt,
               c.user_info,
               c.items,
               c.product_list,
               c.description,
               c.clearing_time,
               c.status,
               c.remark,
               c.create_time,
               u.account,
               u.nickname,
               t.name
        FROM eb_fund_clearing AS c
                 LEFT JOIN eb_user AS u ON c.uid = u.id
                 LEFT JOIN eb_team_user as tu ON c.uid = tu.uid
                 LEFT JOIN eb_team as t on tu.tid = t.id
    </sql>
    <select id="pageList" resultMap="FundClearing">
        <include refid="selectFundClearingVo"/>
        <where>
            <if test="uniqueNo!=null and uniqueNo !=''">
                and c.unique_no=#{uniqueNo}
            </if>
            <if test="commName !=null and commName !=''">
                and c.comm_name=#{commName}
            </if>
            <if test="externalNo !=null and externalNo!=''">
                and c.external_no=#{externalNo}
            </if>
            <if test="status !=null and status!=''">
                and c.status=#{status}
            </if>
            <if test="uid != null">
                and c.uid=#{uid}
            </if>
            <if test="teamName!=null and teamName!=''">
                and t.name=#{teamName}
            </if>
            <if test="description!=null and description!=''">
                AND c.description LIKE CONCAT('%', #{description}, '%')
            </if>
            <if test="startClearingTime!=null and endClearingTime!=null">
                and  DATE(c.clearing_time)  BETWEEN #{startClearingTime} AND #{endClearingTime}
            </if>
            <if test="starteCreateTime!=null and endCreateTime!=null">
                and DATE(c.create_time) BETWEEN #{starteCreateTime} AND #{endCreateTime}
            </if>
        </where>
        ORDER BY c.id DESC
    </select>
    <sql id="exportFundClearing">
        SELECT c.id,
               c.unique_no,
               c.external_no,
               c.comm_name,
               c.comm_amt,
               c.send_amt,
               c.description,
               c.clearing_time,
               c.status,
               c.remark,
               c.create_time,
               u.account,
               u.nickname,
               t.name,
               asentity.real_name,
               asentity.id_card_no,
               card.phone,
               card.bank_name,
               card.bank_card_no
        FROM eb_fund_clearing AS c
                 LEFT JOIN eb_user AS u ON c.uid = u.id
                 LEFT JOIN eb_team_user as tu ON c.uid = tu.uid
                 LEFT JOIN eb_team as t on tu.tid = t.id
                 LEFT JOIN eb_channel_identity AS asentity on asentity.uid = c.uid and asentity.channel=#{channelName}
                 left join eb_channel_card as card on card.uid = c.uid  and card.channel=#{channelName}
    </sql>
    <resultMap id="FundClearingVo" type="com.jbp.common.vo.FundClearingVo">
        <id column="id" property="id"/>
        <result column="unique_no" property="uniqueNo"/>
        <result column="external_no" property="externalNo"/>
        <result column="comm_name" property="commName"/>
        <result column="comm_amt" property="commAmt"/>
        <result column="send_amt" property="sendAmt"/>
        <result column="description" property="description"/>
        <result column="clearing_time" property="clearingTime"/>
        <result column="status" property="status"/>
        <result column="remark" property="remark"/>
        <result column="create_time" property="createTime"/>
        <result column="account" property="account"/>
        <result column="real_name" property="realName"/>
        <result column="id_card_no" property="idCardNo"/>
        <result column="phone" property="phone"/>
        <result column="bank_name" property="bankName"/>
        <result column="bank_card_no" property="bankCode"/>
    </resultMap>
    <select id="exportFundClearing" resultMap="FundClearingVo">
    <include refid="exportFundClearing"/>
        <where>
            and c.id > #{id}
            <if test="uniqueNo!=null and uniqueNo !=''">
                and c.unique_no=#{uniqueNo}
            </if>
            <if test="externalNo !=null and externalNo!=''">
                and c.external_no=#{externalNo}
            </if>
            <if test="status !=null and status!=''">
                and c.status=#{status}
            </if>
            <if test="commName !=null and commName !=''">
                and c.comm_name=#{commName}
            </if>
            <if test="uid != null">
                and c.uid=#{uid}
            </if>
            <if test="teamName!=null and teamName!=''">
                and t.name=#{teamName}
            </if>
            <if test="description!=null and description!=''">
                AND c.description LIKE CONCAT('%', #{description}, '%')
            </if>
            <if test="startClearingTime!=null and endClearingTime!=null">
                and DATE (c.clearing_time)  BETWEEN #{startClearingTime} AND #{endClearingTime}
            </if>
            <if test="starteCreateTime!=null and endCreateTime!=null">
                and DATE( c.create_time) BETWEEN #{starteCreateTime} AND #{endCreateTime}
            </if>
        </where>
        ORDER BY c.id ASC
        LIMIT 1000
    </select>

</mapper>
