<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jbp.service.dao.agent.LotteryPrizeDao">
    <select id="getListByLotteryId" resultType="com.jbp.common.model.agent.LotteryPrize">
        select *,i.percent,i.default_item,i.weight,i.id as item_id,p.id as prize_id
        from eb_lottery_prize p
        left join eb_lottery_item i on p.id=i.prize_id
        <where>
            <if test="id!= null and id !=''">
                and p.lottery_id = #{id}
            </if>
        </where>
    </select>

    <select id="getFrontList" resultType="com.jbp.common.model.agent.LotteryPrize">
        select *,i.percent,i.default_item,i.weight,i.id as item_id,p.id as prize_id,i.number,p.remark as tips
        from eb_lottery_prize p
        left join eb_lottery_item i on p.id=i.prize_id
        <where>
            <if test="lotteryId!= null and lotteryId !=''">
                and p.lottery_id = #{lotteryId}
            </if>
            <if test="prizeType!= null and prizeType !=''">
                and p.prize_type = #{prizeType}
            </if>
        </where>

        order by p.id  desc

    </select>
</mapper>
