<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jbp.service.dao.agent.OrdersFundSummaryDao">

    <select id="getList" resultType="com.jbp.common.response.OrdersFundSummaryExtResponse">

        select f.*,t.name,o.pay_time
        from eb_orders_fund_summary f
        left join eb_order o on o.plat_order_no  = f.orders_sn
				left join eb_team_user  u on u.uid = o.uid
				left join eb_team t on t.id = u.tid
				where  1=1
        <if test="teamId!='' and teamId!= null ">
          and   t.leader_id =#{teamId}
            </if>
        <if test="ordersSn !='' and ordersSn!= null ">
            and   f.orders_sn =#{ordersSn}
        </if>
        <if test="startPayTime !='' and startPayTime!= null ">
            and   o.pay_time >= #{startPayTime}
        </if>
        <if test="endPayTime !='' and endPayTime!= null ">
            <![CDATA[AND pay_time <= DATE_ADD(#{endPayTime},INTERVAL 1 DAY)]]>
        </if>

        order by f.id desc

    </select>


</mapper>
