<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jbp.service.dao.agent.UserInvitationDao">

    <select id="getAllUpper" parameterType="java.util.Map" resultType="com.jbp.common.dto.UserUpperDto">
        select t1.*, t1.userId as uid
            from(select @r as userId,
                        (select @r := ifnull(mId, pId)  from eb_user_invitation where uId = userId) as pId, @I := @I + 1 as level
            from (select @r := #{uId} ,@I := 0) vars, eb_user_invitation h) t1 join eb_user_invitation t2 on t1.userId = t2.uId
        order by level asc
    </select>

    <select id="getNoMountAllUpper" parameterType="java.util.Map" resultType="com.jbp.common.dto.UserUpperDto">
        select t1.* , t1.userId as uid
        from(select @r as userId,
                    (select @r := pId  from eb_user_invitation where uId = userId) as pId, @I := @I + 1 as level
        from (select @r := #{uId} ,@I := 0) vars, eb_user_invitation h) t1 join eb_user_invitation t2 on t1.userId = t2.uId
        order by level asc
    </select>
    <select id="getUserNextList"  parameterType="java.util.Map" resultType="com.jbp.common.response.UserInviteResponse">
         select eu.nickname  ,eu.account,c.name as capa_name,ec.capa_id,eu.phone from   eb_user_invitation ei
        left join eb_user eu on eu.id = ei.uId
        left join eb_user_capa ec on ec.uid = eu.id
        left join eb_capa c on c.id = ec.capa_id


        where 1=1
        <if test="account =='' or account == null ">
         and  ei.pId = #{uId}
        </if>

        <if test="account!='' and account!= null ">
          and ei .uid  = (
              select uid from eb_user_invitation_flow  f
              inner join eb_user eu2 on eu2.id = f.uId
              where f.pId =  #{uId} and eu2.account = #{account}
            )
        </if>

    </select>
    <select id="getUserNextInfoList" parameterType="java.util.Map" resultType="com.jbp.common.response.UserInviteInfoResponse">

        SELECT
        eu.nickname,
        eu.account,
        c.icon_url as iconUrl,
        eu.phone ,
        eo.orderCount,
        eu.create_time as createTime,
        ei.uid,
        eu.avatar
        FROM
        eb_user_invitation ei
        LEFT JOIN eb_user eu ON eu.id = ei.uId
        LEFT JOIN eb_user_capa ec ON ec.uid = eu.id
        LEFT JOIN eb_capa c ON c.id = ec.capa_id
        left join (select count(1)  as orderCount,uid from eb_order  where status in (1,2,3,4,5,6) GROUP BY uid ) eo on eo.uid = ei.uId

        where ei.pId = #{uId}

        <if test="account!='' and account!= null ">
            and eu.account = #{account}
        </if>
    </select>


</mapper>
