<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jbp.service.dao.agent.WalletDao">


    <select id="getList" resultType="com.jbp.common.response.WalletExtResponse">


         select f.*,t.name from eb_wallet f
        left join eb_team_user  u on u.uid = f.uid
        left join eb_team t on t.id = u.tid
        left join eb_user eu on eu.id = f.uid
        where  1=1
        <if test="teamId!='' and teamId!= null ">
            and   t.leader_id =#{teamId}
        </if>
        <if test="uId !='' and uId!= null ">
            and   f.uId =#{uId}
        </if>

        <if test="type !='' and type!= null ">
            and   f.type =#{type}
        </if>
        <if test="nickname !='' and nickname!= null ">
            and   eu.nickname =#{nickname}
        </if>




    </select>
</mapper>
