<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jbp.service.dao.agent.WalletWithdrawDao">

<resultMap id="WalletWithdraw" type="com.jbp.common.model.agent.WalletWithdraw">
    <id column="id" property="id"/>
    <result column="uid" property="uid"/>
    <result column="account" property="account"/>
    <result column="wallet_type" property="walletType"/>
    <result column="wallet_name" property="walletName"/>
    <result column="unique_no" property="uniqueNo"/>
    <result column="amt" property="amt"/>
    <result column="commission" property="commission"/>
    <result column="status" property="status"/>
    <result column="postscript" property="postscript"/>
    <result column="create_time" property="createTime"/>
    <result column="success_time" property="successTime"/>
    <result column="remark" property="remark"/>
    <result column="bank_name" property="bankName"/>
    <result column="bank_card_no" property="bankCode"/>
    <result column="real_name" property="realName"/>
    <result column="nickname" property="nickName"/>
</resultMap>
    <sql id="selectwalletWithdraw">
        select w.id,
               w.uid,
               w.account,
               w.wallet_type,
               w.wallet_name,
               w.unique_no,
               w.amt,
               w.commission,
               w.status,
               w.postscript,
               w.create_time,
               w.success_time,
               w.remark,
               asentity.real_name,
               card.bank_name,
               card.bank_card_no,
               u.nickname
        from eb_wallet_withdraw as w
                 LEFT JOIN eb_channel_identity AS asentity on asentity.uid = w.uid and asentity.channel = #{channelName}
                 left join eb_channel_card as card on card.uid = w.uid and card.channel = #{channelName}
                 LEFT JOIN eb_user as u on u.id = w.uid

    </sql>
<!-- List<WalletWithdraw> pageList(String account, String walletName, String status, String endTime, String startTime, String realName, String channelName);-->
    <select id="pageList" resultMap="WalletWithdraw">
        <include refid="selectwalletWithdraw"/>
            <where>
                <if test="account!=null and account!=''">
                    and w.account=#{account}
                </if>
                <if test="walletName!=null and walletName!=''">
                    and w.wallet_name=#{walletName}
                </if>
                <if test="status!=null and status!=''">
                    and w.status=#{status}
                </if>
                <if test="endTime!=null and startTime!=null">
                    and  w.create_time  BETWEEN #{startTime} AND #{endTime}
                </if>
                <if test="realName!=null and realName!=''">
                    and asentity.real_name=#{realName}
                </if>
                <if test="nickName!=null and nickName!=''">
                    and u.nickname=#{nickName}
                </if>
            </where> ORDER BY w.id DESC
    </select>
<!-- List<WalletWithdrawVo> excel(@Param("id") Integer id,@Param("account") String account,@Param("walletName") String walletName,@Param("status") String status,
                                 @Param("realName") String realName, @Param("startTime") String startTime,@Param("endTime") String endTime,@Param("channelName") String channelName);
-->
    <resultMap id="excelVo" type="com.jbp.common.vo.WalletWithdrawVo">
        <id column="id" property="id"/>
        <result column="account" property="account"/>
        <result column="wallet_name" property="walletName"/>
        <result column="unique_no" property="uniqueNo"/>
        <result column="amt" property="amt"/>
        <result column="commission" property="commission"/>
        <result column="status" property="status"/>
        <result column="postscript" property="postscript"/>
        <result column="create_time" property="createTime"/>
        <result column="success_time" property="successTime"/>
        <result column="remark" property="remark"/>
        <result column="bank_name" property="bankName"/>
        <result column="bank_card_no" property="bankCode"/>
        <result column="real_name" property="realName"/>
        <result column="nickname" property="nickName"/>
    </resultMap>
    <select id="excel" resultMap="excelVo">
        <include refid="selectwalletWithdraw"/>
        <where>
            and w.id > #{id}
            <if test="account!=null and account!=''">
                and w.account=#{account}
            </if>
            <if test="walletName!=null and walletName!=''">
                and w.wallet_name=#{walletName}
            </if>
            <if test="status!=null and status!=''">
                and w.status=#{status}
            </if>
            <if test="endTime!=null and startTime!=null">
                and  w.create_time  BETWEEN #{startTime} AND #{endTime}
            </if>
            <if test="realName!=null and realName!=''">
                and asentity.real_name=#{realName}
            </if>
            <if test="nickName!=null and nickName!=''">
                and u.nickname=#{nickName}
            </if>
        </where>
        ORDER BY w.id ASC
        LIMIT 1000
    </select>
</mapper>
