<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jbp.service.dao.agent.SelfScoreDao">


	<select id="getUserNext" resultType="java.math.BigDecimal">


		select  sum(score) from eb_self_Score
		where uid in (select uid from eb_user_invitation_flow where pid = ${uid})
	</select>
</mapper>
