<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jbp.service.dao.UserDao">

    <select id="findAdminList" resultType="com.jbp.common.model.user.User" parameterType="Map">
        SELECT u.* FROM eb_user AS u
        <where>
            <if test="nikename != '' and nikename != null ">
                and u.nickname like CONCAT('%',#{nikename},'%')
            </if>
            <if test="account != '' and account !=null ">
                and u.account like CONCAT('%',#{account},'%')
            </if>
            <if test="spreadid !=null ">
                and u.spread_uid=#{spreadid}
            </if>
            <if test="phone != '' and phone != null ">
                and u.phone = #{phone, jdbcType=VARCHAR}
            </if>
            <if test="sex != null">
                and u.sex = #{sex}
            </if>
            <if test="tagIdSql != null and tagIdSql !='' ">
                and ${tagIdSql}
            </if>
            <if test="registerType != null and registerType !='' ">
                and u.register_type = #{registerType, jdbcType=VARCHAR}
            </if>
            <if test="payCount != null">
                <if test="payCount &lt;= 0">
                    and u.pay_count = 0
                </if>
                <if test="payCount > 0">
                    and u.pay_count >= #{payCount}
                </if>
            </if>
            <if test="isPromoter != null">
                and u.`is_promoter` = #{isPromoter}
            </if>
            <if test="isLogoff != null">
                and u.`is_logoff` = #{isLogoff}
            </if>
            <if test="startTime != null and startTime != ''">
                <choose>
                    <when test="accessType == 1">
                        and u.create_time between #{startTime} and #{endTime}
                        and u.create_time = u.last_login_time
                    </when>
                    <when test="accessType == 2">
                        and u.last_login_time between #{startTime} and #{endTime}
                    </when>
                    <when test="accessType == 3">
                        and u.last_login_time not between #{startTime} and #{endTime}
                    </when>
                    <otherwise>
                        and u.last_login_time between #{startTime} and #{endTime}
                    </otherwise>
                </choose>
            </if>
        </where>
        ORDER BY u.id desc
    </select>

    <select id="findMerchantList" resultType="com.jbp.common.model.user.User" parameterType="Map">
        SELECT u.* FROM eb_user AS u
        RIGHT JOIN eb_user_merchant_collect um on u.id = um.uid
        where
        um.mer_id = #{merId}
        <if test="nikename != '' and nikename != null ">
            and u.nickname like CONCAT('%',#{nikename},'%')
        </if>
        <if test="phone != '' and phone != null ">
            and u.phone = #{phone, jdbcType=VARCHAR}
        </if>
        <if test="sex != null">
            and u.sex = #{sex}
        </if>
        <if test="registerType != null and registerType !='' ">
            and u.register_type = #{registerType, jdbcType=VARCHAR}
        </if>
        <if test="startTime != null and startTime != '' ">
            and um.create_time between #{startTime} and #{endTime}
        </if>
        ORDER BY u.id desc
    </select>

    <select id="getSpreadPeopleList" resultType="com.jbp.common.response.UserSpreadPeopleItemResponse" parameterType="map">
        SELECT u.id,u.nickname, u.avatar, DATE_FORMAT(u.spread_time, '%Y-%m-%d %H:%i:%s') AS `time`, u.spread_count AS childCount,
        (SELECT count( * ) AS num FROM eb_user_brokerage_record AS br WHERE br.uid = #{uid} AND br.sub_uid = u.id AND br.STATUS = 3) AS orderCount,
        (SELECT IFNULL( sum( o.pay_price ), 0 ) AS price FROM eb_order AS o RIGHT JOIN eb_user_brokerage_record AS br ON br.link_no = o.order_no
        WHERE o.uid = u.id AND br.uid = #{uid} AND br.sub_uid = u.id AND o.STATUS > 1 AND br.STATUS = 3) AS amountCount
        FROM eb_user AS u
        where
        u.id in
        <foreach item="userIdList" collection="userIdList.split(',')" open="(" separator="," close=")">
            #{userIdList}
        </foreach>
        <if test="keywords != '' and keywords != null ">
            and ( u.real_name like CONCAT('%',#{keywords},'%') or u.nickname like CONCAT('%',#{keywords},'%')
        </if>
        ORDER BY ${sortKey} ${sortValue}
    </select>

    <select id="getNoChild" resultType="com.jbp.common.model.user.User" parameterType="Map">
        SELECT u.* FROM eb_user AS u where u.id not in(select IFNULL(mId, pId) from eb_user_invitation) ORDER BY u.id asc
    </select>

</mapper>
